<div class="container">
    <div class="row" style="margin: 2rem">
        <h3>Survey Questions</h3>
        <p>After you take the survey and submit. We will recommand a trainer who is highly skilled in your interested
            fields!</p>
    </div>
    <hr />
    <div class="row" style="margin: 2rem">
        <form>
            <h5>About You</h5>
            <div class="form-group">
                <label for="email">Email (Required)</label>
                <input type="email" class="form-control" id="email" />
            </div>
            <div class="form-group">
                <label for="password">Password (Required)</label>
                <input type="password" class="form-control" id="password" />
            </div>
            <hr />
            <h5>Question 1</h5>
            <div class="form-group">
                <label for="q1">Would you like to try yoga?</label>
                <select class="form-control" id="q1">
                    <option value=""></option>
                    <option value="1">1 (Not at all)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (A lot)</option>
                </select>
            </div>
            <h5>Question 2</h5>
            <div class="form-group">
                <label for="q2">Would you like to try pilates?</label>
                <select class="form-control" id="q2">
                    <option value=""></option>
                    <option value="1">1 (Not at all)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (A lot)</option>
                </select>
            </div>
            <h5>Question 3</h5>
            <div class="form-group">
                <label for="q3">Would you like to try cycling?</label>
                <select class="form-control" id="q3">
                    <option value=""></option>
                    <option value="1">1 (Not at all)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (A lot)</option>
                </select>
            </div>
            <h5>Question 4</h5>
            <div class="form-group">
                <label for="q4">Would you like to try weight training?</label>
                <select class="form-control" id="q4">
                    <option value=""></option>
                    <option value="1">1 (Not at all)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (A lot)</option>
                </select>
            </div>
            <h5>Question 5</h5>
            <div class="form-group">
                <label for="q5">Would you like to try HIIT (High-intensity interval training)?</label>
                <select class="form-control" id="q5">
                    <option value=""></option>
                    <option value="1">1 (Not at all)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (A lot)</option>
                </select>
            </div>
            <h5>Question 6</h5>
            <div class="form-group">
                <label for="q6">"Would you like to get advice about diet and nutritions from your trainer?"</label>
                <select class="form-control" id="q6">
                    <option value=""></option>
                    <option value="1">1 (Not at all)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (A lot)</option>
                </select>
            </div>
            <button id="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                Submit
            </button>
        </form>
    </div>