<div class="container">
    <div class="row" style="margin: 2rem">
        <h3>Trainer {{trainer.name}}</h3>
    </div>
</div>
<div class="container">
    <div class="row">
        {{#each classes}}
        <div class="col-sm-6 col-lg-4">
            <div class="card" style="width: 18rem; margin: 2rem;">
                <div class="card-body">
                    <h5 class="card-title">{{dataValues.type}} class</h5>
                    <p class="card-text">Date: {{#date-helper dataValues.time}}{{/date-helper}}</p>
                    <p class="card-text">Day: {{#day-helper dataValues.time}}{{/day-helper}}</p>
                    <p class="card-text">Time: {{#time-helper dataValues.time}}{{/time-helper}}</p>
                    <p class="card-text">Room: {{dataValues.room}}</p>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-primary">RSVP</button>
                    </div>
                </div>
            </div>
        </div>

        {{/each}}
    </div>
</div>